table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.icon {
    flex: 1;
}

.icon img {
    width: 5rem;
    height: 5rem;
}

.userInfoBox {
    background: linear-gradient(to right,
            rgb(32, 20, 200),
            rgb(158, 23, 202));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5vmin;
}